<%- include("../partials/userLayouts/header") %>

<div class="login-container">
  <div class="forms-container">
    <div class="signin-signup">
      <!---------------------Login Form Section Starts ---------------------------------->
      <%- include ("../partials/messages"); %>
      <form action="/auth/login" class="sign-in-form" method="POST">
        <h2 class="title">Sign in</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input type="email" name="email" placeholder="Email" />
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input type="password" name="password" placeholder="Password" />
        </div>
        <input type="submit" value="Login" class="btn solid" />
        <p class="social-text">Or Sign in with social platforms</p>
        <div class="social-media">
          <a href="#" class="social-icon">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-google"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </form>
      <!---------------------Login Form Section Ends ---------------------------------->
      <!-- ========================================================================= -->
      <!---------------------Sign Up Form Section Starts ------------------------------>
      <form action="/auth/register" class="sign-up-form" method="POST">
        <h2 class="title">Sign up</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input type="text" name="user_name" placeholder="Username" />
        </div>
        <div class="input-field">
          <i class="fas fa-envelope"></i>
          <input type="email" name="email" placeholder="Email" />
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input type="password" name="password" placeholder="Password" />
        </div>
        <input type="submit" class="btn" value="Sign up" />
        <p class="social-text">Or Sign up with social platforms</p>
        <div class="social-media">
          <a href="#" class="social-icon">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-google"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </form>
      <!---------------------Sign Up Form Section Ends ------------------------------>
    </div>
  </div>

  <div class="panels-container">
    <div class="panel left-panel">
      <div class="content">
        <h3>Not Link?</h3>
        <p>Sign Up, and begin an exciting journey with wallet Links!</p>
        <button class="btn transparent" id="sign-up-btn">Sign up</button>
      </div>
      <img src="/assets/images/log.svg" class="image" alt="" />
    </div>
    <div class="panel right-panel">
      <div class="content">
        <h3>Already Link?</h3>
        <p>Sign in to your wallet connect account and let the magic begins!</p>
        <button class="btn transparent" id="sign-in-btn">Sign in</button>
      </div>
      <img src="/assets/images/register.svg" class="image" alt="" />
    </div>
  </div>
</div>
<script src="/assets/js/app.js"></script>
