<!--
=========================================================
 Material Dashboard - v2.1.1
=========================================================

 Product Page: https://www.creative-tim.com/product/material-dashboard
 Copyright 2019 Creative Tim (https://www.creative-tim.com)
 Licensed under MIT (https://github.com/creativetimofficial/material-dashboard/blob/master/LICENSE.md)

 Coded by Creative Tim

=========================================================

 The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->

 <!DOCTYPE html>
 <html lang="en">
 
 <head>
   <meta charset="utf-8" />
   <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
   <link rel="icon" type="image/png" href="/assets/img/favicon.png">
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
   <title>
   Wallet-Link | <%= pagetitle %>
   </title>
   <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
   <!--     Fonts and icons     -->
   <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
   <!-- CSS Files -->
   <link href="/assets/css/material-dashboard.css?v=2.1.1" rel="stylesheet" />
   <!-- CSS Just for demo purpose, don't include it in your project -->
   <link href="/assets/demo/demo.css" rel="stylesheet" />
 </head>
 
 <body class="">
   <div class="wrapper ">
     <div class="sidebar" data-color="purple" data-background-color="white" data-image="/assets/img/sidebar-1.jpg">
       <!--
         Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
 
         Tip 2: you can also add an image using data-image tag
     -->
       <div class="logo">
         <a href="/" class="simple-text logo-normal">
           WALLET LINK
         </a>
       </div>
       <div class="sidebar-wrapper">
         <ul class="nav">
          <li <%if (pagetitle === 'Dashboard') { %>
            class = "active"
            <% } %> >
            <a class="nav-link" href="/admin/dashboard">
              <i class="material-icons">person</i>
              <p>Admin</p>
            </a>
          </li>
          <li <%if (pagetitle === 'Wallets') { %>
            class = "active"
            <% } %> >
            <a class="nav-link" href="/admin/wallets">
              <i class="material-icons">content_paste</i>
              <p>Wallets</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/logout">
              <i class="material-icons">logout</i>
              <p>Logout</p>
            </a>
          </li>
         </ul>
       </div>
     </div>