<%- include("../partials/adminLayouts/side-nav") %> 
<%- include("../partials/adminLayouts/header") %> 









<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title ">Wallets ( <%=  wallet_count  %> ) </h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    Wallet ID
                  </th>
                  <th>
                    Email
                  </th>
                </thead>
                <tbody>
                  <%wallets.forEach(wallet => { %>
                    <tr>
                      <td>
                        <%= wallet.wallet_id %> 
                      </td>
                      <td>
                        <%= wallet.email %> 
                      </td>
                    </tr>
                  <% }) %> 
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>








<%- include("../partials/adminLayouts/footer") %> 
