<%- include("./partials/userLayouts/header") %>
<%- include("./partials/userLayouts/nav") %>
<%- include ("./partials/messages"); %>


<h1 style="text-align: center; margin-top: 10rem; color: white; font-family: Montserrat; font-weight: bolder;">COMING SOON</h1>

<%- include("./partials/userLayouts/footer") %>
