
<%- include("./partials/userLayouts/header") %>
<%- include("./partials/userLayouts/nav") %>
<%- include ("./partials/messages"); %>

<div class="row banner">
  <div class="col-md-6">
      <h1>Wallet Links</h1>
      <p>We link you up to your favorite wallets and help you choose the base wallet for your currencies.</p>
      <a href="#" class="express-btn">JOIN FREE</a>
      <a href="https://www.youtube.com/c/EasyTutorialsVideo?sub_confirmation=1">EXPLORE MORE</a>
  </div>    
  <div class="col-md-6 text-center">
      <img src="/assets/images/home-pic.png" class="img-fluid">
  </div>    
</div>  
  
  
</div>
</section>



<section class="service">
  <div class="container">
      <h2 class="title">We provide a wide range<br> of services</h2>
      <p class="subtitle">Connecting you to your favorite wallet</p>
      <div class="row">
          <div class="col-md-4">
              <div class="service-box">
                  <img src="/assets/images/Icon-1.png">
                  <h6>Tracking</h6>
                  <p>We track your wallet for you.</p>
                  <i class="fa fa-arrow-right"></i>
              </div>
          </div>
          <div class="col-md-4">
              <div class="service-box active-service">
                  <img src="/assets/images/Icon-2.png">
                  <h6>Security</h6>
                  <p>We allow only secure and trusted wallet on our platform</p>
                  <i class="fa fa-arrow-right"></i>
              </div>
          </div>
          <div class="col-md-4">
              <div class="service-box">
                  <img src="/assets/images/Icon-3.png">
                  <h6>Pocket Friendly</h6>
                  <p>Offer the best fit for your currencies</p>
                  <i class="fa fa-arrow-right"></i>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="feature">
  <div class="container">
      <div class="row">
          <div class="col-md-6 text-center">
              <img src="/assets/images/feature.png">
          </div>
          <div class="col-md-6">
              <h2>Learn about wallets<br> and how secure they are</h2>
              <p>Take an exiciting tour about<br>and learn about wallets.</p>
              <a href="https://www.youtube.com/c/EasyTutorialsVideo?sub_confirmation=1">WATCH NOW</a>
          </div>
      </div>
  </div>
</section>

<section class="explore">
  <div class="container">
      <div class="row">
          
          <div class="col-md-6">
              <h2>How does YOGO make <br>life better</h2>
              <p>Lorem ipsum, or lipsum as sometimes <br>known, is dummy text used in</p>
              <a href="https://www.youtube.com/c/EasyTutorialsVideo?sub_confirmation=1">EXPLORE NOW</a>
          </div>
          <div class="col-md-6">
              <img src="/assets/images/explore.png" class="img-fluid">
          </div>
      </div>
  </div>
</section>

<section class="review">
<div class="container">
<div class="bd-example">
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
<ol class="carousel-indicators">
<li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
<li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
<li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
</ol>
<div class="carousel-inner">
<div class="carousel-item active">
  <img src="/assets/images/testimonial-1.png">
  <div class="carousel-caption">
    <h6>Jennifer Lopez</h6>
      <small>CEO & FOUNDER @ Microsoft</small>
    <p>Lorem ipsum, or lipsum as sometimes <br>known, is dummy text used in lorem ipsum, or lipsum as sometimes <br>known, is dummy text used in</p>
  </div>
</div>
<div class="carousel-item">
  <img src="/assets/images/testimonial-2.jpg">
  <div class="carousel-caption">
    <h6>George Symonds</h6>
      <small>SENIOR MANAGER @ Google</small>
    <p>Lorem ipsum, or lipsum as sometimes <br>known, is dummy text used in lorem ipsum, or lipsum as sometimes <br>known, is dummy text used in</p>
  </div>
</div>
<div class="carousel-item">
  <img src="/assets/images/testimonial-3.jpg">
  <div class="carousel-caption">
    <h6>Ying Yue</h6>
      <small>FASHION DESIGNER @ Myntra</small>
    <p>Lorem ipsum, or lipsum as sometimes <br>known, is dummy text used in lorem ipsum, or lipsum as sometimes <br>known, is dummy text used in</p>
  </div>
</div>
</div>
</div>
</div>
</div>
</section>


<%- include("./partials/userLayouts/footer") %>