*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: inherit;
}
body{
    box-sizing: border-box;
}
a:hover{
  text-decoration: none;
}
.header{
    background: #6900d1;
}

.navbar{
    padding-top: 20px !important;
}
.nav-item{
    margin-left: 40px;
    margin-bottom: 10px;
}
.nav-link{
    color: #fff !important;
    font-size: 12px !important;
    padding: 0 0 5px 0 !important;
    display: unset !important;
}
.navbar-brand img{
    width: 125px;
}
.fa-bars{
    color: #fff;
    font-size: 40px !important;
}
.navbar-toggler{
    border: 0 !important;
    outline: none !important;
    padding: initial !important;
}
.active-home{
    border-bottom: 2px solid #fff;
}
.nav-link:hover{
    /* border-bottom: 2px solid #fff; */
}
.banner{
    margin-top: 8%;
    color: #fff;
}
.banner h1{
    margin: 80px 0 50px;
    font-weight: 600;
    font-size: 50px;
}
.banner img{
    max-height: 500px;
}
.banner a{
    padding: 12px;
    width: 150px;
    display: inline-block;
    background: #6900d1;
    text-decoration: none !important;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
}
.banner a:hover{
    color: #fff;
}
.express-btn{
    background: #fff !important;
    color: #000 !important;
    margin-right: 5px;
}

/*-----------service----------*/

.service{
    margin: 75px 0;
}
.title{
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}
.subtitle{
    text-align: center;
    margin-bottom: 70px;
    font-size: 15px;
}
.service-box{
    padding: 0 35px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: .4s;
}
.service-box img{
    width: 60px;
    margin-top: 65px;
    margin-bottom: 45px;
}
.service-box h6{
    margin-bottom: 40px;
    font-weight: bold;
}
.service-box p{
    font-size: 14px;
    color: #808080;
}
.fa-arrow-right{
    font-size: 22px !important;
    margin-top: 30px;
    margin-bottom: 35px;
    cursor: pointer;
}
.service-box:hover,.active-service{
    background: #6900d1;
    border-radius: 5px;
    color: #fff !important;
    box-shadow: 0 15px 15px 2px rgba(213,213,213,0.5);
}
.service-box:hover p{
    color: #fff !important;
}
.active-service p{
    color: #fff;
}

/*-------feature-----*/

.feature,.explore{
    margin: 200px 0;
}
.feature img{
    max-width: 77%;
    cursor: pointer;
}
.feature h2{
    margin-top: 100px;
    font-weight: bold;
    line-height: 50px;
}
.feature p,.explore p{
    margin-top: 25px;
    margin-bottom: 50px;
    color: #808080;
    font-size: 14px;
    line-height: 18px;
}
.feature a,.explore a{
    width: 170px;
    padding: 15px 10px;
    display: block;
    background: #6900d1;
    text-decoration: none !important;
    color: #fff !important;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 9px 9px 1px rgba(204,204,204,0.5);
}
.explore h2{
    margin-top: 50px;
    font-weight: bold;
    line-height: 50px;
}
.explore a{
    margin-bottom: 50px;
}

/*--------review--------*/

.review{
    margin: 100px 0;
}
.carousel-item img{
    width: 150px;
    border-radius: 50%;
}
.carousel-item{
    text-align: center;
    height: 430px;
}
.carousel-caption{
    z-index: -1 !important;
    box-shadow: 0 0 15px 1px rgba(166,163,223,0.5);
    border-radius: 5px;
    margin-bottom: 50px;
}
.carousel-caption h6{
    margin-top: 55px;
    font-weight: bold;
    color: #000 !important;
}
.carousel-caption small{
    margin-top: 10px;
    margin-bottom: 50px;
    display: block;
    color: #000 !important;
}
.carousel-caption p{
    text-align: center;
    padding: 0 50px;
    font-size: 15px;
    color: #808080 !important;
}
.carousel-indicators li{
    background-color: #6900d1 !important;
}



/*--------Login Page-------*/
.login-container {
    position: relative;
    width: 100%;
    background-color: #fff;
    min-height: 100vh;
    overflow: hidden;
  }
  
  .forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  .signin-signup {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 75%;
    width: 50%;
    transition: 1s 0.7s ease-in-out;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
  }
  
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 5rem;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  form.sign-up-form {
    opacity: 0;
    z-index: 1;
  }
  
  form.sign-in-form {
    z-index: 2;
  }
  
  .title {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
  }
  
  .input-field {
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
  }
  
  .input-field i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
  }
  
  .input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
  }
  
  .input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
  }
  
  .social-text {
    padding: 0.7rem 0;
    font-size: 1rem;
  }
  
  .social-media {
    display: flex;
    justify-content: center;
  }
  
  .social-icon {
    height: 46px;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.45rem;
    color: #333;
    border-radius: 50%;
    border: 1px solid #333;
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.3s;
  }
  
  .social-icon:hover {
    color: #6900d1;
    border-color: #6900d1;
  }
  
  .btn {
    width: 150px;
    background-color: #6900d1;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .btn:hover {
    background-color: #6900d1;
  }
  .panels-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .login-container:before {
    content: "";
    position: absolute;
    height: 2000px;
    width: 2000px;
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    background-image: linear-gradient(-45deg, #6900d1 0%, #6900d1 100%);
    transition: 1.8s ease-in-out;
    border-radius: 50%;
    z-index: 6;
  }
  
  .image {
    width: 100%;
    transition: transform 1.1s ease-in-out;
    transition-delay: 0.4s;
  }
  
  .panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 6;
  }
  
  .left-panel {
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
  }
  
  .right-panel {
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
  }
  
  .panel .content {
    color: #fff;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }
  
  .panel h3 {
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
  }
  
  .panel p {
    font-size: 0.95rem;
    padding: 0.7rem 0;
  }
  
  .btn.transparent {
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
  }
  
  .right-panel .image,
  .right-panel .content {
    transform: translateX(800px);
  }
  
  /* ANIMATION */
  
  .login-container.sign-up-mode:before {
    transform: translate(100%, -50%);
    right: 52%;
  }
  
  .login-container.sign-up-mode .left-panel .image,
  .login-container.sign-up-mode .left-panel .content {
    transform: translateX(-800px);
  }
  
  .login-container.sign-up-mode .signin-signup {
    left: 25%;
  }
  
  .login-container.sign-up-mode form.sign-up-form {
    opacity: 1;
    z-index: 2;
  }
  
  .login-container.sign-up-mode form.sign-in-form {
    opacity: 0;
    z-index: 1;
  }
  
  .login-container.sign-up-mode .right-panel .image,
  .login-container.sign-up-mode .right-panel .content {
    transform: translateX(0%);
  }
  
  .login-container.sign-up-mode .left-panel {
    pointer-events: none;
  }
  
  .login-container.sign-up-mode .right-panel {
    pointer-events: all;
  }

/*----------footer-------*/

.footer{
    background: #6900d1;
    padding-top: 5px;
}
.footer h2{
    color: #fff;
    font-weight: 600;
    margin: 70px 0;
}
.footer input{
    width: 60%;
    background: transparent;
    outline: none;
    border: 0;
    border-bottom: 1px solid #fff;
    padding: 10px;
    color: #fff;
    margin-bottom: 30px;
    text-align: center;
}
::placeholder{
    color: #efefef;
    font-size: 13px;
}
.footer button{
    padding: 6px;
    width: 180px;
    margin: auto;
    display: block;
    color: #fff;
    border: 1px solid #fff;
    font-size: 20px;
    background: transparent;
}
.footer small{
    font-size: 14px;
    padding: 70px;
    padding-bottom: 20px;
    color: #fff;
    display: block;
}


@media only screen and (max-width: 800px){
    .carousel-item
    {
    height: 520px;
    }
    .carousel-caption{
        margin: 0 10px 50px 10px;
        left: 0 !important;
        right: 0 !important;
    }
    .login-container {
        min-height: 800px;
        height: 100vh;
      }
      .signin-signup {
        width: 100%;
        top: 95%;
        transform: translate(-50%, -100%);
        transition: 1s 0.8s ease-in-out;
      }
    
      .signin-signup,
      .container.sign-up-mode .signin-signup {
        left: 50%;
      }
    
      .panels-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
      }
    
      .panel {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2.5rem 8%;
        grid-column: 1 / 2;
      }
    
      .right-panel {
        grid-row: 3 / 4;
      }
    
      .left-panel {
        grid-row: 1 / 2;
      }
    
      .image {
        width: 200px;
        transition: transform 0.9s ease-in-out;
        transition-delay: 0.6s;
      }
    
      .panel .content {
        padding-right: 15%;
        transition: transform 0.9s ease-in-out;
        transition-delay: 0.8s;
      }
    
      .panel h3 {
        font-size: 1.2rem;
      }
    
      .panel p {
        font-size: 0.7rem;
        padding: 0.5rem 0;
      }
    
      .btn.transparent {
        width: 110px;
        height: 35px;
        font-size: 0.7rem;
      }
    
      .login-container:before {
        width: 1500px;
        height: 1500px;
        transform: translateX(-50%);
        left: 30%;
        bottom: 68%;
        right: initial;
        top: initial;
        transition: 2s ease-in-out;
      }
    
      .login-container.sign-up-mode:before {
        transform: translate(-50%, 100%);
        bottom: 32%;
        right: initial;
      }
    
      .login-container.sign-up-mode .left-panel .image,
      .login-container.sign-up-mode .left-panel .content {
        transform: translateY(-300px);
      }
    
      .login-container.sign-up-mode .right-panel .image,
      .login-container.sign-up-mode .right-panel .content {
        transform: translateY(0px);
      }
    
      .right-panel .image,
      .right-panel .content {
        transform: translateY(300px);
      }
    
      .login-container.sign-up-mode .signin-signup {
        top: 5%;
        transform: translate(-50%, 0);
      }
}

/* Wallet page*/
.wallet-box{
   vertical-align: middle;
 
       
}
.wallet-text-box{
  display: flex;
  margin: 40px auto;
  justify-content: center;
  text-align: center;
  flex-direction: column;
    

}
.grid{   
   margin:0 auto;
}
.grid-container {   
    margin: 0 auto; 
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;    
    padding: 10px;
    align-items: center;
    width: 80%;
    
 
    
  }
  .grid-container::after{
      content: "";
      clear: both;
      display: table;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
    display: block;
    border-radius: 5px;
  }

  .grid-image{
      border-radius: 100px;
      margin-bottom: 10px;
      width: 80px;
      
  }

  .wallet-text{
      font-size: 15px;
      font-family: 'Montserrat', sans-serif;
      position: relative;
  }

  .popup{
      height: 100vh;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background-color: rgba(91, 26, 156, 0.918);
      z-index: 99999; 
      opacity: 0;
      visibility: hidden;
      transition: all .4s;   
       
  }
  .popup:target{
    opacity: 1;
    visibility: visible;
  }
  .form-container{    
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.548), rgba(0, 0, 0, 0.548)) ,url(/assets/images/home-pic.png);
    background-position: top;
    background-size: cover;
    width: 40%;
    position: absolute;
    padding: 30px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px; 
    color: #fff;
  }
  .close-btn:link, 
  .close-btn:visited{
      position: absolute;
      top: -20px;
      right: -2px;
      text-decoration: none;
      color: #fff;
      font-size: 40px

  }
  .clos-btn:target{
      opacity: 0;
      visibility: hidden;
  }
  .pop-up-form{
    max-width: 1140px;
    margin: 10 auto;
 }
  .pop-up-form input{
    width: 100%;
    height: 50%;
    padding: 10px 10px;
    margin-bottom: 5px;
    display: block;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    border: 2px solid #6900d1;
    border-radius: 100px;
 }
 .text{
     text-align: center;
     font-size: 24px;
     color: #fff;
     
 }
 .btn-box{
    text-align: center;
    margin-top: 20px;
    border: none;
    border-radius: .3rem;
}

.common-btn:link, .common-btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: .5rem 1rem;
    border-radius: 10rem;
    font-size: 1.2rem; }
  
.btn-white {
    background-color: #fff;
    color:#6900d1; }
.btn--white::after {
    background-color: #fff; 
}
  


  
@media (max-width: 570px) {
    form {
      padding: 0 1.5rem;
    }
  
    .image {
      display: none;
    }
    .panel .content {
      padding: 0.5rem 1rem;
    }
    .login-container {
      padding: 1.5rem;
    }
  
    .login-container:before {
      bottom: 72%;
      left: 50%;
    }
  
    .login-container.sign-up-mode:before {
      bottom: 28%;
      left: 50%;
    }
    .grid-container { grid-template-columns: repeat(2, 1fr); 

    }
  }















